.randomPickContainer {
  background-color: black;
  min-height: 250px;
  width: 400px;
  margin: 40px auto; /*top and bottom are 40 pax and it's centred since it's auto*/
}

.randomPickContainer h2 {
  color: white;
  padding-top: 20px;
  margin: 40px 20px 20px 40px; /*top and bottom are 40 pax and it's centred since it's auto*/
}

.randomPickContainer button {
  margin: auto 40px;
}

.randomPick {
  color: white;
  margin: 40px 20px 20px 40px;
}
