.randomPickResultsPage {
  display: flex;
  justify-content: center;
}

.randomPickResults {
  background-color: lightcoral;
  border: 0;
  width: 210px;
  height: auto;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
